*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}
a{
    color: black;
}
.nav-container{
    width: 1140px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1.8rem 0px;
}
.nav-logo h3{
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}
.nav-btn button{
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 20px;
    border: 1px solid black;
}
/* Banner-section */
.banner{
    background-image: url(images/hero-bg.png);
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;        
}
.banner-text{
    display: block;
}
.banner-img img{
    width: 260px;
    height: 220px;
    margin-top:100px;
    margin-bottom: 120px;
}
.banner-title h1{
    max-width: 1140px;
    margin: 0 auto;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 100px;
}
.banner-pera p{
    max-width: 1000px;
    margin-bottom: 80px;
}
.banner-btn button{
    padding: 1.25rem 1.5rem;
    margin-bottom: 140px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
/* Main-section start */
.web-dev-container{
    width: 1140px;
    margin: 0 auto;
    margin-top: 60px;
}
.main-web-sec{
    width: 100%;
    border-radius: 5px;
    background-color: rgba(13, 19, 33, 0.02);
    margin-top: 4.625rem;
    padding: 5rem 6rem; 
}
.main-web-sec h1{
    text-align: center;
    font-weight: 800;
}
.main-web-sec p{
    text-align: center;
    margin: 30px 0;
    font-weight: 500;  
}
.my-skill{
   display: flex;
   margin-bottom: 2rem;
   padding: 3rem;
   justify-content: space-between;
   align-items: center;
   background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.skill-content{
    text-align: left;
}
.skill-btn{
    border: 1px solid black;
    padding: 15px 25px;
    font-size: 15px;
    opacity: 0.9;
    transition: 0.5s;
}
.skill-btn:hover{
    color: black;
    font-weight: 800;
    opacity: 1;
}
.my-skills-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    text-align: left;
}
.skill-content-2{
    padding-left: 20px;
}
.inspiration-section{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.inspiratin-text h1{
    font-size: 40px;
}
.inspiratin-text p{
    margin-top: 30px;
}
.inspiration-video{
    padding: 2rem;
   border: 1px solid black;
   align-items: center;
   width: 70%;
   margin-top: 40px;
   margin: 30px auto;
   height: 550px;
   border-radius: 10px;
}
.inspiration-video .video{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.current-target{
    width: 60%;
    margin: 40px auto;
    text-align: center;
}
.current-target h1{
    font-size: 30px;
    font-weight: 500;
}
.current-target p{
    margin-top: 30px;
}
.sector-part{
    width: 85%;
    height: 450px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}
.sector-part .html{
    background-color: #FFF6F4;
   
}
.sector-part .css{
    background-color: #F2F6FE;
   
}
.sector-part .java{
    background-color: #FFFDF2;
    
}
.sector-part img{
    margin: 40px 30px;
}
.html-text{
    margin: 10px 30px;
}
.html-text h1{
    margin-bottom: 20px;
}
.html-text p{
    margin-bottom: 30px;
}
.html-text a{
    margin-bottom: 20px;
}
.next-terget{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
}
.next-terget p{
    margin-top: 30px;
}
.next-terget-sections{
    width: 85%;
    margin: 0 auto;
    margin-top: 40px;
}
.next-terget-cards{
    display: flex;
    padding: 2.5rem;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1.5rem;
}
.next-terget-cards .next-img{
    width: 250px;
    margin-right: 4rem;
}
.next-terget-cards .next-img img{
    width: 150%;
}
.next-item-texts .next-btn{
    margin-top: 40px;
}
.support-container{
    background-image: url(images/handshake.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 85%;
    height: 313px;
    margin: 0  auto;
    margin-top: 120px;
    color: #F2F6FE;
    
}

.support-container h3{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding-top: 30px;
}
.support-container p{
    color: #fff;
    opacity: 0.7;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 1.5rem;

}
.feedback .feedback-massage{
    padding: 20px 80px;
    width: 548px;
    height: 57px;
    border: none;
    border-radius: 10px;
}
.feedback-massag{
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem 1.25rem;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: #f7f8f8;
    margin-top: 5rem;
    display: flex;
    align-items: center;
}
.footer-value{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  0 auto;
}
.footer-social-items a{
    font-size: 30px;
}
